/* .navbar-true{
  font-family: sans-serif;
  
  text-align: right;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 10px;
  
}
.navbar-false{
  display: none;
  
}
a.navb{
  text-decoration: none;
  color: black;
}
a.navb:hover{
  color: gray;
}

  
#search{
  
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#booking{
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
} */

